.headerContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  gap: 15px;
}

.form input {
  padding: 10px;
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 8px;
  background-color: ghostwhite;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  outline: none;
}

.form button {
  padding: 11px;
  width: 100px;
  background-color: green;
  color: white;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.form button:hover {
  background-color: rgb(4, 94, 4);
}

.alertMessage {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 12px;
  color: red;
}

@media screen and (max-width: 991px) {
  .headerContainer {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .headerContainer {
    width: 100%;
  }
}

@media screen and (max-width: 548px) {
  .form {
    flex-direction: column;
  }

  .form button {
    width: 100%;
  }
}